<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Draft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Draft.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Collapse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DraftText" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Emoji" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Draft" serializeAs="String">
                <value />
            </setting>
            <setting name="PinnedButtons" serializeAs="String">
                <value />
            </setting>
            <setting name="ResumeText" serializeAs="String">
                <value />
            </setting>
        </Draft.Properties.Settings>
    </userSettings>
</configuration>